.myform{ width: 480px; margin: 100px auto; display: block;}
.myform h1{ font-size: 34px; font-weight: 200;}
.post_btn{ border-radius: 2px; height: 46px; background-color: #093; color: #fff;
    font-size: 18px; text-transform: uppercase; font-weight: 500; border: 0px;
}